* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(230, 216, 216);
}
.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.center-menu{
    padding: 20px;
}

.center-menu input{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
.center-menu button{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.right-menu{
    padding: 20px;
}

.right-menu i{
    padding: 5px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
   
}

.box{
    width: 25%;
    
}
.main{
    display: flex;
}

.wrapper-2{
    width: 25%;
}
.shop button{
    width: 100%;
    padding: 10px;
}

.popup-wrapper{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
 .popup{
    
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin:10% auto;
    padding: 20px;
    background: white;
    position: relative;

 }

 .popup-close{
     position: absolute;
     top:5;
     right:5;
     cursor: pointer;
 }
